.movies-list {
  padding: 70px 70px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movies-list__list {
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 364px));
  row-gap: 37px;
  column-gap: 24px;
  padding: 0 0 50px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.movies-list__btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
  margin: 0 auto;
  width: 320px;
  height: 36px;
  background: #F9F9F9;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.movies-list__btn-more_hidden {
  display: none;
}


.movies-list__no-res {
  display: none;
}

.movies-list__no-res_active {
    display: block;
    padding: 15px 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 18px;
    margin: 0;
  }

@media (max-width: 1279px) {

  .movies-list__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
  }
}

@media (max-width: 1205px) {

  .movies-list__list {
    justify-content: center;

  }
}

@media (max-width: 850px) {

  .movies-list {
    padding: 70px 30px 80px;
  }

  .movies-list__list {
    row-gap: 30px;
    column-gap: 30px;
  }

}

@media (max-width: 800px) {

  .movies-list__btn-more {
    padding: 0 50px;
  }
}

@media (max-width: 340px) {

  .movies-list__btn-more {
    width: 240px;
    height: 36px;
    padding: 0 30px;
  }
}

@media (max-width: 320px) {

  .movies-list {
    padding: 40px 10px 80px;
  }

  .movies-list__list {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 14px;
    column-gap: 24px;
    padding: 0 0 61px;
  }

  .movies-list__more {
    width: 200px;
    height: 16px;
  }
}
